.wrapper {
    margin:120px auto;
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 25px;
    
}
.wrapper header {
    font-size: 30px;
    font-weight: 600;
}

.wrapper .inputField {
    display: flex;
    height:  45px;
    width: 100%;
    margin: 20px 0;

}

.inputField input{
    outline: none;
    width: 85%;
    height: 100%;
    border: 1px solid #ccc   ;
    font-size: 17px;
    border-radius: 5px;
    padding-left: 15px;

}